body {
  background-color: #f8f9fa;
}
.navbar {
  background-color: #563d7c !important;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
  font-weight: 500;
}
.form-control {
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,.125);
  padding-left: 1px;
  border-radius: 0;
}
.form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: #007bff;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 20px);
    -ms-transform: translate(0, 20px);
    -moz-transform: translate(0, 20px);
    -o-transform: translate(0, 20px);
    transform: translate(0, 20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  }@-webkit-keyframes fadeInUp {
    0% {
    opacity: 0;
    -webkit-transform: translate(0, 20px);
    -ms-transform: translate(0, 20px);
    -moz-transform: translate(0, 20px);
    -o-transform: translate(0, 20px);
    transform: translate(0, 20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
.card {
  -webkit-animation-name: fadeInUp;
  -webkit-animation-duration: .3s;
  -webkit-animation-timing-function: ease;
  animation-name: fadeInUp;
  animation-duration: .3s;
  animation-timing-function: ease;
}