body {
  background-color: #f8f9fa;
}
.wrapper {
  margin-top: 80px;
}
.navbar {
  background-color: #563d7c !important;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
  font-weight: 500;
}
.form-control:disabled, .form-control[readonly],
.form-control, 
.custom-file-label {
  border: 2px solid #f1f2f3;
  background-color: #f1f2f3;
}
.form-control:focus,
.custom-control-input:checked~.custom-control-label::before,
.custom-switch .custom-control-label::before {
  outline: none !important;
  box-shadow: none !important;
}
.form-control:focus {
  border: 2px solid #eceded;
  background-color: transparent;
}
label {
  font-weight: 500;
}
.btn-custom {
  border-radius: 3px !important;
  color: #fff;
  border: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 3px 6px 0px, #3a255a 0px -2px 0px 0px inset;
}
.btn, .form-control {
  transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease, width 0.3s ease, opacity 0.3s ease;
}
.btn:hover {
  opacity: 0.8;
  color: #fff;
}
.form-control:disabled, .form-control[readonly],
.btn[disabled] {
  opacity: 0.5;
}
.custom-control-label::before {
  background-color: #f2f2f2;
  border: #f2f2f2 solid 1px;
}
.nav-pills .nav-link {
  font-weight: 500;
}
.nav-pills .nav-link.active {
  border-radius: 1.25rem;
  padding-right: 1.5rem!important;
  padding-left: 1.5rem!important;
}
.custom-control-input:focus:not(:checked)~.custom-control-label::before {
  border-color: #f2f2f2 !important;
}
.btn-custom {
  border-color: #563d7c;
  background-color: #563d7c;
}
.custom-control-input:checked~.custom-control-label::before, 
.nav-pills .nav-link.active, .nav-pills .show>.nav-link,
.bg-custom {
  border-color: #563d7c;
  background-color: #563d7c;
}
.circle {
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 3px solid transparent;
}
.circle-md {
  width: 60px;
  height: 60px;
}
.circle-sm {
  width: 30px;
  height: 30px;
  font-size: 0.7rem;
  font-weight: 600;
}
.image-cover {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  margin: 0 auto;
  border-radius: 50%;
}
.image-cover-md {
  height: 80px;
  width: 80px;
}
.image-cover-sm {
  height: 40px;
  width: 40px;
}
a {
  color: #352450;
}
a:hover {
  text-decoration: none;
  color: #563d7c;
}
.table td, .table th {
  vertical-align: middle;
}
.badge-pill { 
  padding: 0.5em 1em !important;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 20px);
    -ms-transform: translate(0, 20px);
    -moz-transform: translate(0, 20px);
    -o-transform: translate(0, 20px);
    transform: translate(0, 20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  }@-webkit-keyframes fadeInUp {
    0% {
    opacity: 0;
    -webkit-transform: translate(0, 20px);
    -ms-transform: translate(0, 20px);
    -moz-transform: translate(0, 20px);
    -o-transform: translate(0, 20px);
    transform: translate(0, 20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
.card {
  -webkit-animation-name: fadeInUp;
  -webkit-animation-duration: .5s;
  -webkit-animation-timing-function: ease;
  animation-name: fadeInUp;
  animation-duration: .5s;
  animation-timing-function: ease;
  box-shadow: 0 2px 0 rgba(0,0,0,0.06);
}